@tailwind base;
@tailwind components;
@tailwind utilities;

body, button, input, textarea, select {
  font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
